[Unit]
Description=Git WebHooks Server
After=network-online.target

[Service]
Type=simple
WorkingDirectory=REPLACE_WORKING_DIR
ExecStart=REPLACE_BY_INSTALL
KillMode=process
Restart=on-failure
RestartSec=1min

[Install]
WantedBy=multi-user.target